@font-face {
    font-family: 'KRAFT';
    src: url('KRAFT.eot');
    src: url('../fonts/KRAFT.woff2') format('woff2'),
        url('../fonts/KRAFT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sharp_grotesklight_25';
    src: url('../fonts/SharpGroteskLight25-Regular.woff2') format('woff2'),
         url('../fonts/SharpGroteskLight25-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	background:#000;
	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
  	background:#1e1909;
}

p, a, h1, h2 {
	font-family: 'sharp_grotesklight_25';
	color: #ededed;
	text-decoration: none;
	font-weight: normal;
}

#mobile-startpage {
	display: none;
}

.jarallax {
    height: 100%;
}

#invincible-div {
	display: none;
}


/*-------LOADING PAGE START------*/
.loader {
	display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
}

/*-------LOADING PAGE END------*/

/*-------FILM PLAYER START------*/

#play-film {
	width: 100vw;
	height: 100vh;
	background:#000;
	display: none;
}

.top {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#play-film iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-button {
	right: 3vh;
	top: 2vh;
	font-family: 'KRAFT';
	z-index: 20;
	color: #fff;
	font-size: 4vh;
	position: fixed;
}

#player-controls {
	width: auto;
	height: 100px;
	z-index: 100;
	position: fixed;
	top: 3vh;
	left: 3vh;
}

.player-buttons {
	font-family: 'sharp_grotesklight_25';
	font-size: 3.2vh;
	letter-spacing: 0.1vh;
	color: #ededed;
	margin:0 1vh 0 1vh;
	cursor: pointer;
	opacity: 0.2;
}

.player-buttons:hover {
	opacity: 1;
	transition: 500ms;
}

.wrapper {
  position: relative;
  padding-bottom: 200%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*-------FILM PLAYER END------*/

/*-------START PAGE START------*/
#mobile-text, #pil {
	display: none;
}

#desktop-logo {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	top: 36vh;
}

#desktop-logo img {
	height: 27vh;
	width: auto;
	transition: 200ms ease;
}

#desktop-logo #tiny-logo {
	display: none;
}

#desktop-startpage {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background:#000;
}

.side-rollers {
	width: 100vw;
	height: 100vh;
	top: 0;
	position: absolute;
	overflow: hidden;
}

	#beckmans {
		position: absolute;
		left: 1vw;
		height: 120vh;
		mix-blend-mode: lighten;
	}

	#fashion {
		position: absolute;
		right: 1vw;
		height: 120vh;
		mix-blend-mode: lighten;
	}

	#lookbook-container .side-rollers {
		display: none;
	}

.main-menu {
	position: fixed;
	/*top:92vh;*/
	z-index: 30;
	display: flex;
	justify-content: center;
	width: 100vw;
}

	#playfilm-button {
		position: fixed;
		/*right: 55vw;*/
		top: 3vh;
	}

	#lb-button {
		position: fixed;
		/*left: 55vw;*/
		bottom:2.5vh;
	}

	.main-menu a {
		font-family: 'sharp_grotesklight_25';
		font-size: 3.2vh;
		color: #ededed;
		letter-spacing: 0.1vh;
	}

.fashion-collab {
	width: 100vw;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 6vh;
	display: none;
}

#mobile-page .fashion-collab p {
	font-size: 2.3vh;
}

#desktop-startpage .fashion-collab p {
	font-size: 2vh;
	line-height: 2.7vh;
}

#intro-text {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 90vw;
	height: auto;
	z-index: 30;
	color: #ededed;
}

#intro-text p {
	font-family: 'sharp_grotesklight_25';
	font-size: 1.4vh;
	line-height: 1.7vh;
}

#load-this {
	height: 1px;
	width: 1px;
}

/*-------START PAGE END------*/

#logo-sticky-div {
	height: 10vh;
	width: 800vh;
	position: absolute;
	left: 0;
}

#logo-sticky-space {
	width: 45vh; /*bredden till vänster om logo*/
	height: 10vh;
	float: left;
	display: inline-block;
}

#small-logo {
	position: fixed;
	right: 0;
	top:0;
	z-index: 20;
	display: inline-block;
}

#small-logo img{
	height: 13.5vh;
	width: auto;
	margin-top: -1vh;
	margin-left: -5vh;
}

#lookbook-container {
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
}

.text-right {
	float: right;
	text-align: right;
}

/*-------CARD CONTAINER START------*/
#card-container {
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
	top: 0;
	background:#1e1909;
	position: absolute;

}

::-webkit-scrollbar {
    display: none;
}

.gif {
	mix-blend-mode: darken;
}

.mobile-img {
	display: none;
}

#parent { /*desktop*/
	width: 912vh; /*Bredden på hela containern*/
	margin-left: 5vh;
	position: relative;
}

#text-space {
	display: inline-block;
	width: 47vh;
	height: 90vh;
	position: relative;
	margin-left: 0;
	margin-right: 6vh;
}

	#text-space img {
		position: absolute;
		width: 100%;
		top: 0;
	}

	#text-space p {
		text-transform: uppercase;
		font-size: 1.6vh;
		position: absolute;
		top: 47vh;
		line-height: 1.5;
	}

	#text-space #menu {
		color: #ededed;
		text-transform: uppercase;
		font-size: 1.60vh;
		line-height: 1.5;
		position: absolute;
		bottom: 0;
		display: block;
		font-family: 'KRAFT';
	}


/*-------COLOPHON DESKTOP START-----*/

.colophon {
	position: relative;
	display: inline-block;
	width: 57vh;
	height: 90vh;
	padding-top: 5vh;
	margin-left: 0;
	
}
	#colophon-header {
		font-size: 4.5vh;
		position: absolute;
		top: 5vh;
		left: 1.5vh;
		font-family: 'KRAFT';
		letter-spacing: 0.2vh;
	}

	.colophon h1, .colophon h2, .colophon p {
		font-size: 1.4vh;
		line-height: 1.9vh;
		margin: 0;
		padding: 0;
		-webkit-user-select: text;  /* Chrome all / Safari all */
	}

	.colophon h1 {
		text-transform: uppercase;
		margin-bottom: 0.5vh;
		margin-top:1.5vh;
		padding-left: 0;
	}

	.colophon h2 {
		margin-top:0.8vh;
	}

	.colophon p {
		margin-left: 1.5vh;
	}

	.colophon-left, .colophon-right, .colophon-spons {
		position: absolute;
		margin-top: 13vh;
	}

	.colophon-left {
		margin-left: 3%;
		width: 47%;
	}

	.colophon-right {
		margin-left: 53%;
		width: 47%;
	}

	#spons-logo {
		width: 31vh !important;
	}

	.colophon-spons {
		margin-left: 3%;
		width: 100%;
	}

		.colophon-spons img {
			width: 100%;
			height: auto;
			/*mix-blend-mode: lighten;*/
			opacity: 0.9;
			margin-top: 4.5vh;
		}
/*-------COLOPHON DESKTOP END-----*/
/*-------CARD CONTAINER END------*/

/*-------CARD FLIP START------*/

.front, .back {
	display: inline-flex;
	background:#ededed;
}

.front-img {
	position: absolute;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card img {
	height: 100%;
	width: auto;
}

.card video {
	height: 100%;
	width: 100%;
	/*position: absolute;*/
	/*background: red;*/
}

label {
    -webkit-perspective: 700vh;
    perspective: 700vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: inline-block;
    height: 90vh; 	/*-------Här ändrar man storleken på korten 86------*/
	width: 54.5vh; /*calc(1200/1980*90vh)*/
	margin-right: 4vh;
	margin-top: 4.8vh;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 500ms ease;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
		transform-style: preserve-3d;
    }

    .card .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

input {
    display: none;
}


:checked + .card {
    transform: rotateY(180deg) ;
    -webkit-transform: rotateY(180deg);
}


/*-------CARD FLIP END------*/

@media only screen and (max-aspect-ratio: 16/10) {

#desktop-logo {
	top: 40vh;
}

 #desktop-logo img{
  	height: 21vh;
 }

}

@media only screen and (max-aspect-ratio: 13/10) {

#desktop-logo {
 	top: 35vh;
}
	#desktop-logo img{
	  	height: 30vh;
	}

	#desktop-logo #tiny-logo {
		display: block;
		top: 35vh;
	}

	#desktop-logo #big-logo {
		display: none;
	}

}

@media only screen and (min-width: 600px) { /* only desktop */

.card:hover {
	-webkit-box-shadow: 0 0 5vh 0.4vh rgba(255,255,255,0.6);
	-moz-box-shadow: 0 0 5vh 0.4vh rgba(255,255,255,0.6);
	box-shadow: 0 0 5vh 0.4vh rgba(255,255,255,0.6);
}

.front:hover { /* scale fungerar ej på back */
	/*-webkit-transform: scale(1.01);*/
    /*-ms-transform: scale(1.01);*/
    /*transform: scale(1.01);*/
    /*transition: 200ms ease;*/
}

.main-menu a:hover {
	font-family: 'KRAFT';
	/*margin-top: 1.8vh;*/
	font-size: calc(3.2*0.94vh);
	/*letter-spacing: 0;*/
}

#playfilm-button:hover {
	/*right: 54.7vw; *//*så kraft inte hoppar för mkt*/
	margin-top: 0.45vh;
	letter-spacing: 0.05;
}

#lb-button:hover {
	/*left: 55.5vw;*/ /*så kraft inte hoppar för mkt*/
	margin-top: 0.45vh;
	letter-spacing: -0.1;
}

}

@media only screen and (max-width: 900px) and (orientation: portrait) { /* only mobile */

.loader {
	display: none;
}

 #mobile-page {
 	scroll-snap-type: y mandatory;
 	-webkit-overflow-scrolling: touch;
 	width: 100vw;
	/*height: 284.85vh;*/
 }

 #mobile-text {
 	display: block;
 	width: 90vw;
 	position: relative;
 	margin: 7vh 0 7vh 6vw;
 }

 #mobile-text img {
 	width: 100%;
 }

 #mobile-startpage {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	z-index: 0;
	display: block;
	background:#000;
}

.fashion-collab {
	top: 0;
}

.vertical-snap {
	scroll-snap-align: center;
}

#mobile-video {
	height: 100vh;
	width: 100vw;
	position: fixed;
	opacity: 1;
}

#video-cover {
	width: 100vw;
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: 0;
	background:#1e1909;
	display: none;
}

#mobile-logo {
	position: -webkit-sticky;
	position: sticky;
	top: 0vh;
	z-index: 3;
	width: 80vw;
	left: 10vw;
	transition: 500ms;
}

#mobile-logo.sticky {
	width: 40vw;
	left: 30vw;
}

#mobile-logo img {
	width: 100%;
}

#invincible-space {
	height: 34vh;
}

#invincible-div {
	width: 100vw;
	height: 250vh;
	position: absolute;
	display: block;
}

#parent { /*mobile*/
	width: 850vh; /*Bredden på hela containern calc((11*88*1200/1980vh)+(2*100vw))  602+100vh*/
	margin-left: 2vh;
}

.main-menu {
	position: absolute;
	top:3vh;
	width: 100vw;
	height: 20vh;
	z-index: 2;
	display: block;
}

	.main-menu a {
		display: block;
		/*margin-top: 2vh;*/
		text-align: center;
	}

 #pil {
	position: absolute;
	bottom: 3vh;
	width: 7vw;
	margin-left: 45vw;
	height: 15vw;
	display: flex;
	justify-content: center;
}
	#pil img {
		width: 100%;
		height: auto;
		display: block;
	}
	#beckmans {
		left: 2vw;
		height: 120vh;
	}

	#fashion {
		right: 2vw;
		height: 120vh;
	}

#playfilm-button, #lb-button {
	position: relative;
}

#card-container {
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100vh;
	background:none;
}

.child {
	scroll-snap-align: center;
}

.mobile-img {
	width: 100%;
	height: 100%;
	display: block;
 }

#lookbook-container {
	display: inline-flex;
	justify-content: center;
	position: absolute;
	overflow-y: hidden;
}

#lookbook-bottom, #small-logo, #desktop-startpage, .x-button, #play-film, #text-space, .side-rollers, .gif, .desktop-img{
	display: none;
}
#colophon-header {
	display: none;
}

.colophon { /*MOBILE*/
	width: 100vw;
	height: 95vh;
	margin: 0 1vh 0 1vh;
	/*margin-top: 6.5vh;*/
	top: 5vh;
}
	.colophon h1, .colophon h2, .colophon p {
		font-size: 2.6vw;
		line-height: 3.6vw;
	}

	.colophon p {
		margin-top: 0;
		width: 44%;
		white-space: nowrap;
	}

	.colophon h1 {
		text-transform: uppercase;
		margin-bottom: 2vw;
		/*padding-left: 0;*/
	}

	.colophon h2 {
		margin: 0.7vw 0 0 0;
	}

	.colophon-left, .colophon-right, .colophon-wide, .colophon-spons {
		margin-top: 0;
	}

	#spons-logo {
		width: 100vw !important;
	}
	.colophon-spons {
		margin-left: 12%;
		width: 76%;
	}




label {
	margin: 6vh 0.4vh 6vh 0.4vh;
	height: calc(1.65*87vw); 	/*-------Här ändrar man storleken på korten------*/
	width: 87vw; /*calc(1200/1980*88vh*/
	/*display: none;*/
}

}

