@font-face {
    font-family: 'sharp_groteskbook_20';
    src: url('../fonts/sharpgrotesk-book20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-book20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'KRAFT';
    src: url('KRAFT.eot');
    src: url('../fonts/KRAFT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KRAFT.woff2') format('woff2'),
        url('../fonts/KRAFT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sharp_grotesklight_25';
    src: url('../fonts/sharpgrotesk-light25-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-light25-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	background:#000;
	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}

p {
	font-family: 'sharp_groteskbook_20';
	color: white;
}

a {
	text-decoration: none;
}


#mobile-startpage, #colophon-mobile {
	display: none;
}

.jarallax {
    height: 100%;
    position: fixed;
}

#invincible-div {
	display: none;
}


/*-------LOADING PAGE START------*/
#loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
}

/* Loaded */
.loaded-fade #loader {
    opacity: 0;
    transition: 2s ease;
}

.loaded-now #loader {
	display: none;
}
/*-------LOADING PAGE END------*/

/*-------FILM PLAYER START------*/

#play-film {
	width: 100vw;
	height: 100vh;
	background:#000;
	display: none;
}

.top {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#play-film iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#player-controls {
	width: auto;
	height: 100px;
	z-index: 100;
	position: fixed;
	top: 10px;
	left: 10px;
}

.player-buttons {
	font-family: 'sharp_grotesklight_25';
	font-size: 3vh;
	color: #fff;
	margin:0 1vh 0 1vh;
	cursor: pointer;
	opacity: 0.3;
}

.player-buttons:hover {
	opacity: 1;
	transition: 500ms;
}


.wrapper {
  position: relative;
  padding-bottom: 200%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*-------FILM PLAYER END------*/

/*-------START PAGE START------*/

#desktop-logo {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	top: 45vh;
	z-index: 102;
}

#desktop-logo img {
	height: 11vh;
	transition: 500ms ease;
}

#desktop-startpage {
	width: 100vw;
	height: 100vh;
	position: fixed;
}

#main-menu {
	position: fixed;
	top:56vh;
	z-index: 30;
}

#playfilm-button { 
	position: fixed;
	right: 55vw;
}

#lb-button {
	position: fixed;
	left: 55vw;
}

#main-menu a {
	font-family: 'sharp_grotesklight_25';
	font-size: 3.5vh;
	color: #fff;
	letter-spacing: 0.2vh;
}

#main-menu a:hover {
	font-family: 'KRAFT';
	margin-top: 1.7vh;
	font-size: calc(3.5*0.94167vh);
	letter-spacing: 0;
}

#intro-text {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 90vw;
	height: auto;
	z-index: 30;
	color: #fff;
}

#intro-text p {
	font-size: 1.7vh;
}

#lb-button:hover {
	left: 55.5vw; /*så kraft inte hoppar för mkt*/
}

#playfilm-button:hover {
	right: 54.5vw; /*så kraft inte hoppar för mkt*/
}

.x-button {
	right: 3vh;
	top: 2vh;
	font-family: 'KRAFT';
	z-index: 20;
	color: #fff;
	font-size: 4vh;
	position: fixed;
}

/*-------START PAGE END------*/

#small-logo {
	top: 2vh;
	left: 2vh;
	position: fixed;
	z-index: 20;
}

#small-logo img{
	height: 9vh;
	width: auto;
}

#lookbook-container {
	width: 100vw;
	height: 100vh;
	display: none;
	position: absolute;
	background:#1e1909;
}	

#lookbook-bottom {
	left: 6vh;
	right: 3vh;
	position: fixed;
	bottom: 1.6vh;
}

#lookbook-bottom p {
	font-family: 'sharp_grotesklight_25';
	font-size: 1.7vh;
	color: #fff;
	display: inline-block;
	line-height: 1vh;
}

.text-right {
	float: right;
	text-align: right;
}

/*-------CARD CONTAINER START------*/
#card-container {
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
	top: 0;
	position: absolute;
}

::-webkit-scrollbar { 
    display: none; 
}

#parent {
	width: 800vh; /*Bredden på hela containern*/
	margin-left: 6vh;
	position: relative;
}

.front, .back {
	display: inline-flex;
	background:#fff;
}

.front-img {
	position: absolute;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card img {
	height: 100%;
	width: 100%;
}

#colophon-desktop {
	position: relative;
	display: inline-block;
	width: auto;
	-webkit-user-select: text;  /* Chrome all / Safari all */
}

#colophon-desktop p {
	font-family: 'sharp_groteskbook_20';
	color: white;
	font-size: 2vh;
	height: 100%;
	width: auto;
	display:inline-block;
	margin-left: 2vh;
}
/*-------CARD CONTAINER END------*/

/*-------CARD FLIP START------*/

label {
    -webkit-perspective: 1000vh;
    perspective: 1000vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: inline-block;
    height: 86vh; 	/*-------Här ändrar man storleken på korten------*/
	width: calc(1200/1980*86vh);
	margin-right: 4vh;
	margin-top: 6.8vh;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 500ms ease;
    z-index: 20;

}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;

    }

    .card .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);

    }

input {
    display: none;
}

:checked + .card {
    transform: rotateY(180deg) ;
    -webkit-transform: rotateY(180deg);
}
/*-------CARD FLIP END------*/

@media only screen and (max-aspect-ratio: 12/10) { 

  #desktop-logo img{
  	height: 9vh;
  	
  }


}

@media only screen and (min-width: 600px) { /* only desktop */


.card:hover {
	-webkit-box-shadow: 0 0 5vh 0.4vh rgba(255,255,255,0.6);
	-moz-box-shadow: 0 0 5vh 0.4vh rgba(255,255,255,0.6);
	box-shadow: 0 0 5vh 0.4vh rgba(255,255,255,0.6);
}

.front:hover { /* scale fungerar ej på back */
	-webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    transition: 200ms ease;
}


}

@media only screen and (max-width: 600px) { /* only mobile */
  #mobile-startpage {
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 0;
	display: block;
}


#logo {
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	z-index: 2;
}

#parent {
	width: 655vh; /*Bredden på hela containern*/
	margin-left: 2vh;
}

#logo img {
	width: 100%;
}

#invincible-div {
	width: 100vw;
	height: 200vh;
	position: absolute;
	display: block;
}

#invincible-space {
	height: 40vh;
}

#card-container {
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

.child {
	scroll-snap-align: center; 
}


#lookbook-container {
	display: inline-flex;
	justify-content: center;
	position: relative;
}

.menu, #lookbook-bottom, #small-logo, #desktop-startpage, #loader, #colophon-desktop, .x-button, #play-film{
	display: none;
}

#colophon-mobile {
	display: inline-block;
	height: 80vh; 	/*-------Här ändrar man storleken på korten------*/
	width: 50vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#colophon-mobile p {
	justify-content: center;
	margin-left: 20%;
	font-size: 2.3vh;
}

label {
	margin: 11vh 0.4vh 0 0.4vh;
	height: 78vh; 	/*-------Här ändrar man storleken på korten------*/
	width: calc(1200/1980*78vh);
}

}

